# U.S. Medical Insurance Costs

In [9]:
import csv
import json
import pandas as pd
import numpy as np

In [85]:
with open('insurance.csv', newline='') as insurance_data:
    data1 = csv.reader(insurance_data)
    #for row in data1:
        #print(row)
    data_dict = csv.DictReader(insurance_data)
    for row in data_dict:
        ages = list(row['age'])

['6', '1']

In [70]:
data2 = pd.read_csv('insurance.csv')
data2.head()

'61'

In [53]:
#**statistcal analysis for age**
ages_mean = data2['age'].mean()
ages_max = data2['age'].max()
age_min = data2['age'].min()
age_median = data2['age'].median()

#**statistcal analysis for bmi**
bmi_mean = data2['bmi'].mean()
bmi_max = data2['bmi'].max()
bmi_min = data2['bmi'].min()
bmi_median = data2['bmi'].median()

#**the insurance mean charge due to smoking:
mean_charges_for_smokers = data2[data2['smoker'] == 'yes']['charges'].mean()
mean_charges_for_none_smokers = data2[data2['smoker'] == 'no']['charges'].mean()
difference = mean_charges_for_smokers - mean_charges_for_none_smokers

#**statistcal analysis for children**
average_num_children = data2['children'].mean()
max_num_children = data2['children'].max()
min_num_children = data2['children'].min()
age_avg_for_people_at_lest_with_one_child = data2[data2['children'] >= 1]['age'].mean()

In [88]:
#calculating each region how many people in it:
region_list = list(data2['region'])
areas_nums_dict = {}
for area in region_list:
    if area in areas_nums_dict:
        areas_nums_dict[area] += 1
    else:
        areas_nums_dict[area] = 1
data2.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [91]:
#statistics in old_fashion:

ages_list = list(data2['age'])
bmi_list = list(data2['bmi'])
sex_list = list(data2['sex'])
children_list = list(data2['children'])
smoker_list = list(data2['smoker'])
region_list = list(data2['region'])
chrages_list = list(data2['charges'])

mean_of_ages = sum(ages_list)/ len(ages_list)
mean_of_bmi = sum(bmi_list)/len(bmi_list)
#..etc

##calculating max_age, max_bmi, max_every_thing:
def find_max_age(ages_list):
    max_age = 0
    for age in ages_list:
        if age > max_age:
            max_age = age
    return max_age
#calculating each region how many people in it:

64